.assortment-container {
  background: url('img/noise-texture.jpg');
  color: $color-neutral-brightest;
  padding: 108px 0 118px;

  @media screen and (max-width: $breakpoint-medium) {
    padding: 60px 0;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: 700;
    letter-spacing: .1em;
    font-style: italic;
    margin-bottom: 35px;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 28px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5em;
    letter-spacing: normal;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 16px;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 14px;
      line-height: 1.6em;
    }
  }

  .column-wrap {
    margin-top: 50px;

    @media screen and (max-width: $breakpoint-medium) {
      margin-top: 80px;
    }

    @media screen and (max-width: $breakpoint-small) {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .column {
    margin-right: 56px;
    width: 100%;
    min-height: 380px;
    background-size: cover;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-medium-large) {
      margin-right: 32px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      min-height: 350px;
      margin-right: 10px;
    }

    @media screen and (max-width: $breakpoint-small) {
      min-height: 0;
      margin-right: 0;
      margin-bottom: 10px;
      max-height: 125px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    figure {
      min-height: 380px;
      height: 100%;
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        display: block;
        background: rgba(0,0,0,.5);
        opacity: 0;
        transition: $transition;
      }

      @media screen and (max-width: $breakpoint-medium) {
        min-height: 233px;
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-small) {
        max-height: none;
        height: 100%;
        min-height: 125px;
        display: block;
      }
    }

    figcaption {
      position: absolute;
      bottom: 0;
      text-align: left;
      z-index: 2;
      color: $color-background;
      line-height: normal;
      font-size: 18px;
      padding: 100px 40px 40px;
      width: 100%;
      background-image: linear-gradient(180deg, transparent, rgba(0,0,0,.8));
      text-shadow: 0px 1px 0px rgba(0,0,0,.26);
      // text-transform: none;

      @media screen and (max-width: $breakpoint-medium-large) {
        padding: 60px 25px 25px;
      }

      p {
        text-transform: none;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: .5em;
      }

      h3 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .125em;

        @media screen and (max-width: $breakpoint-medium-large) {
          font-size: 21px;
        }

        @media screen and (max-width: $breakpoint-medium) {
          font-size: 18px;
        }
      }
    }

    img {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: $transition;
      z-index: 1;

      @media screen and (max-width: $breakpoint-small) {
        left: auto;
        right: -10%;
      }
    }

    h4 {
      font-size: $font-size-h4;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-neutral-brightest;
      letter-spacing: .2em;
      padding: 1.2em 0;
      position: relative;
      transition: $transition;

      @media screen and (max-width: $breakpoint-medium-large) {
        font-size: 18px;
      }

      @media screen and (max-width: $breakpoint-medium) {
        font-size: 16px;
      }

      @media screen and (max-width: $breakpoint-small) {
        padding: .8em 1em;
      }

      &::after {
        content: '\f105';
        font-family: 'FontAwesome';
        font-weight: normal;
        display: none;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);

        @media screen and (max-width: $breakpoint-small) {
          display: inline-block;
        }
      }
    }

    &:hover {
      box-shadow: 0px 4px 25px rgba($color-neutral-darkest,.2), 0px 5px 10px rgba($color-neutral-darkest,.1);

      h4 {
        background: $color-neutral-4;
      }

      figure {
        &::after {
          opacity: 1;
        }

        img {
          transform: translate(-50%,calc(-50% - 10px));
        }
      }
    }
  }
}
