.featured-products-container {
  padding: 173px 0 53px;
  background: url('img/texture-large.jpg');
  background-size: cover;

  @media screen and (max-width: $breakpoint-medium-large) {
    padding: 133px 0 13px;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 30px 0;
  }

  .column-wrap {
    @media screen and (max-width: $breakpoint-small) {
      flex-wrap: wrap;
    }
  }

  .item {
    width: 100%;
    position: relative;
    display: block;
    background: $color-neutral-brightest;
    margin-right: 84px;
    margin-bottom: 159px;
    padding: 2.5em 1.5em;
    text-align: center;
    color: $color-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-medium-large) {
      padding: 2em 1em 1em;
      margin-right: 25px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      padding: 1.5em 1em 1em;
      margin-right: 10px;
    }

    @media screen and (max-width: $breakpoint-small) {
      text-align: left;
      padding: 1em;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 4px 25px rgba($color-neutral-darkest,.2), 0px 5px 10px rgba($color-neutral-darkest,.1);

      button {
        background: transparent;
        color: $color-font;
      }

      img {
        bottom: -34px;
      }
    }
  }

  h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: $color-font;
    margin-bottom: .5em;
    letter-spacing: .16em;
    font-weight: 700;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 21px;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  h5 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: .8em;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 16px;
    }
  }

  em {
    padding: 1.5em 0;
    font-size: 18px;
    line-height: 1.77em;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    font-style: italic;
    color: $color-neutral-4;
    border: 1px dotted rgba($color-neutral-4,.3);
    border-left: 0;
    border-right: 0;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 16px;
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      padding: 0;
      border: 0;
    }
  }

  .amount {
    font-size: 32px;
    font-weight: 700;
    display: block;
    margin-top: 3px;
    letter-spacing: .16em;
    color: $color-neutral-6;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 28px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 24px;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 21px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px;
      width: 50%;
      display: inline-block;
    }
  }

  button {
    background: $color-neutral-6;
    border: 2px solid $color-neutral-6;
    color: $color-neutral-brightest;
    width: 57%;
    height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .16em;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;
    transition: $transition;

    @media screen and (max-width: $breakpoint-medium-large) {
      width: 100%;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-top: .5em;
      font-size: 14px;
      height: 40px;  
    }
  }

  img {
    position: absolute;
    bottom: -58px;
    right: -113px;
    transition: $transition;

    @media screen and (max-width: $breakpoint-medium-large) {
      display: none;
    }
  }
}
