.featured-products-container {
  padding: 173px 0 53px;
  background: url('img/blur-bg.jpg');
  background-size: cover;

  @media screen and (max-width: $breakpoint-medium-large) {
    padding: 133px 0 13px;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 30px 0;
  }

  .column-wrap {
    @media screen and (max-width: $breakpoint-small) {
      flex-wrap: wrap;
    }
  }

  .item {
    width: 100%;
    position: relative;
    display: block;
    margin-right: 57px;
    margin-bottom: 159px;
    padding: 36px 45px;
    text-align: left;
    color: $color-font;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid $color-neutral-brightest;
    border-left: 0;

    @media screen and (max-width: $breakpoint-medium-large) {
      padding: 2em 1em 1em;
      margin-right: 25px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      padding: 1.5em 1em 1em;
      margin-right: 10px;
    }

    @media screen and (max-width: $breakpoint-small) {
      border-left: 2px solid $color-neutral-brightest;
      text-align: left;
      padding: 1em;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      // box-shadow: 0px 4px 25px rgba($color-neutral-darkest,.2), 0px 5px 10px rgba($color-neutral-darkest,.1);

      button {
        background: transparent;
        color: $color-neutral-brightest;
      }

      img {
        bottom: -34px;
      }
    }

    a {
      &.button {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: .15em;
        margin: 2em 0 0 0;
        display: block;
        position: relative;
        background: transparent;
        color: $color-neutral-1;
        padding: 0;

        &:hover {
          background: transparent;
          color: $color-font-dark;
        }

        &::before {
          content: '\f217';
          font-family: 'FontAwesome';
          margin-right: .25em;
        }

        &.added {
          color: $color-cart-positive;

          &::after {
            content: '\f00c';
            font-family: 'FontAwesome';
          }
        }

        &.loading {
          opacity: 1;
          color: $color-font-dark;
          position: relative;

          &::after {
            position: absolute;
            font-size: 14px;
            display: block;
            line-height: 1;
            width: 14px;
            height: 14px;
            text-align: center;
            padding-left: 2px;
            padding-top: 2px;
            padding-bottom: 2px;
            top: 3px;
            right: 14%;
            font-family: 'FontAwesome';
            content: '\f013';
            animation: none;
            animation: spin 1.5s linear infinite;

            @keyframes spin {
              0% {
                transform: rotate(0);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }

        &.wc-backward {
          &::before {
            display: none;
          }
        }
      }

      &.added_to_cart {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .15em;
        margin: .5em 0 0em 0;
        display: block;
        background: transparent;
        color: $color-font-dark;
        padding: 0;

        &:hover {
          color: $color-highlight;
        }

        &::after {
          display: inline-block;
          content: '\f105';
          font-family: 'FontAwesome';
          margin-left: .5em;
        }
      }
    }
  }

  h4 {
    font-size: 28px;
    line-height: 38px;
    color: $color-neutral-brightest;
    margin-bottom: 10px;
    font-weight: 700;

    a {
      color: $color-neutral-1;

      &::after {
        content: '\f105';
        font-family: 'FontAwesome';
        margin-left: .25em;
      }

      &:hover {
        color: $color-background;
      }
    }

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 21px;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  h5 {
    font-size: 16px;
    margin-bottom: 1em;
    color: $color-neutral-brightest;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 16px;
    }
  }

  em {
    font-size: 14px;
    line-height: 1.57em;
    width: 90%;
    display: block;
    margin: 0;
    margin-top: 31px;
    color: $color-neutral-brightest;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 16px;
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      padding: 0;
      border: 0;
    }
  }

  .amount {
    font-size: 28px;
    font-weight: 800;
    display: block;
    margin-top: 26px;
    color: $color-neutral-brightest;

    @media screen and (max-width: $breakpoint-medium-large) {
      font-size: 28px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 24px;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 21px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px;
      width: 50%;
      display: inline-block;
    }
  }

  .price-per-unit {
    color: $color-neutral-brightest;
    margin-top: 7px;
  }

  button {
    background: $color-highlight;
    border: 0;
    border: 2px solid $color-highlight;
    color: $color-neutral-brightest;
    width: 90%;
    height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .16em;
    font-size: 16px;
    margin: 0;
    margin-top: 32px;
    cursor: pointer;
    transition: $transition;

    @media screen and (max-width: $breakpoint-medium-large) {
      width: 100%;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 2em;
      font-size: 14px;
      height: 40px;
    }
  }

  img {
    position: absolute;
    top: 50%;
    right: calc(-30% + 7px);
    transition: $transition;
    transform: translateY(-50%);

    @media screen and (max-width: $breakpoint-medium-large) {
      display: block;
      right: 0.125em;
      max-height: 250px;
    }
  }
}
