.archive {
  main {
    padding: 4em 0 0;
  }

  .page-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .25em;
  }
}

.product-archive {
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product--small {
    width: calc((100% / 4) - ((3 * 15px) / 4));
    margin-right: 15px;
    margin-bottom: 20px;
    background: $color-neutral-brightest;
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
    opacity: 0;
    transform: translateY(20px);
    transition: $transition;

    @media screen and (max-width: $breakpoint-medium-large) {
      width: calc((100% / 3) - ((2 * 15px) / 3));
    }

    @media screen and (max-width: $breakpoint-medium) {
      width: calc((100% / 2) - ((1 * 15px) / 2));
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      margin-right: 0;
    }

    &.fade-in {
      opacity: 1;
      transform: none;
    }

    &:nth-of-type(2n) {
      @media screen and (max-width: $breakpoint-medium) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }

    &:nth-of-type(3n) {
      @media screen and (max-width: $breakpoint-medium-large) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-medium) {
        margin-right: 15px;
      }

      @media screen and (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }

    &:nth-of-type(4n) {
      margin-right: 0;

      @media screen and (max-width: $breakpoint-medium-large) {
        margin-right: 15px;
      }

      @media screen and (max-width: $breakpoint-medium) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }

    &:nth-of-type(6n) {

      @media screen and (max-width: $breakpoint-medium-large) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-medium) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }

    &:nth-of-type(12n) {
      @media screen and (max-width: $breakpoint-medium-large) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }

    figure {
      overflow: hidden;
      position: relative;
      width: 100%;

      &::after {
        display: block;
        content: '';
        padding-bottom: 100%;
      }

      img {
        width: 100%;
        transition: $transition;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &:hover {
      figure {
        img {
          opacity: .9;
        }
      }
    }
  }

  .product__details {
    padding: 1em 1.5em 1em;

    em {
      font-size: 11px;
      color: $color-neutral-3;
      text-transform: uppercase;
      letter-spacing: .1em;

      &::before {
        content: '\f02b';
        font-family: 'FontAwesome';
        margin-right: .25em;
      }
    }

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 0 15px 0;
      margin: 8px auto;
      font-weight: 700;
      letter-spacing: .1em;
      border-bottom: 1px dotted $color-neutral-1;

      a {
        color: $color-neutral-4;

        &:hover {
          color: $color-font;
        }
      }
    }

    h4 {
      font-weight: 700;
      font-size: 24px;
      color: $color-neutral-5;
      letter-spacing: .1em;
    }

    .add-to-cart-button {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: .15em;
      margin: 1.5em 0 .8em 0;
      display: block;

      &::before {
        content: '\f217';
        font-family: 'FontAwesome';
        margin-right: .25em;
      }
    }
  }
}

.cat-list {
  margin-bottom: 2em;
  position: relative;

  h3 {
    display: none;
    background: $color-highlight;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5em .75em;
    letter-spacing: .125em;
    color: $color-background;
    cursor: pointer;
    transition: $transition;

    @media screen and (max-width: $breakpoint-medium) {
      display: block;
    }

    &::after {
      content: '\f107';
      font-family: 'FontAwesome';
      margin-left: .25em;
      position: absolute;
      right: .75em;
      top: 50%;
      transform: translateY(-50%);
      transition: $transition;
    }

    &.active {
      background: $color-main;

      &::after {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }

  ul {
    @extend %clearfix;
    text-align: center;
    padding: 1em 0;

    @media screen and (max-width: $breakpoint-small) {
      display: none;
      position: absolute;
      background: $color-main;
      width: 100%;
      padding: 1em 0 1em;
      z-index: 9;
    }
  }

  li {
    display: inline-block;
    margin-right: 2em;

    @media screen and (max-width: $breakpoint-small) {
      display: block;
      margin-right: 0;
      text-align: left;
      padding: 0 1em;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      text-transform: uppercase;
      font-weight: 700;
      color: $color-neutral-3;
      font-size: 18px;
      letter-spacing: .1em;
      padding-bottom: .25em;
      border-bottom: 2px solid transparent;

      @media screen and (max-width: $breakpoint-small) {
        font-size: 16px;
        display: block;
        width: 100%;
        color: $color-background;
      }

      &:hover {
        color: $color-highlight;
        border-color: $color-highlight;

        @media screen and (max-width: $breakpoint-small) {
          color: $color-background;
          border-color: transparent;
        }
      }
    }
  }
}
