::selection {
  background: $color-highlight;
  color: $color-neutral-brightest;
  text-shadow: none;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $color-background;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $color-highlight;
  transition: $transition;

  &:hover {
    color: $color-main;
  }
}

.content-wrap {
  width: 100%;
  max-width: $content-width;
  padding: 0 $content-padding;
  margin: auto;

  @media screen and (max-width: $breakpoint-small) {
    padding: 0 #{$content-padding / 1.25};
  }
}

.regular-page {
  padding: 3em 0;

  b {
    font-weight: 700;
  }
}

.page-wrap {
  position: relative;
  transition: $transition;
  left: 0;
  padding-top: 239px;

  @media screen and (max-width: $breakpoint-medium-large) {
    padding-top: 105px;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding-top: 62px;
  }

  &.show-nav {
    left: -50%;

    @media screen and (max-width: $breakpoint-small) {
      left: -70%;
    }
  }
}

.main {
  position: relative;

}

input,
button {
  font-family: $font-family;
}
